<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>

    </header>
    <main>
        
        <form action="">
            Usuario <input type="text" name="usuario" id="" placeholder="Usuario">
            Contraseña <input type="password" name="contraseña" placeholder="Contraseña">
        </form>
        <footer>

        </footer>
    </main>
    <footer>

    </footer>  
</body>
</html>