<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2ef97f3f76.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
</head>
<body>
    <section>
        <i class="fa-solid fa-arrow-left-long"></i> <span>Volver</span>
        <article>
            <img src="/img/BRANCA-FERNET-1000ML.png" alt="fernet branca 1000ml" height="300px" width="300px">
            <h3>Fernet Branca</h3>
            <p>1000ml</p>
            <p>$1700</p>
            <button>Agregar</button>
        </article>
    </section>
    <section>
        <h3>Tragos recomendados</h3>
        <img src="/img/fernet-coca.jpg" alt="fernet con coca cola" height="250px" width="350px">
        <h4>Fernet con cola</h4>
        <button><i class="fa-solid fa-arrow-right"></i></button>
    </section>
    <section>
        <h3>Productos relacionados</h3>
        
    </section>
</body>
</html>