/* contenedor padre */
.swiper {
  width: 100%;
  height: 100%;
 margin: 20px;
}
/* contenedor de las tarjetas */
.swiper-wrapper{
  width: 100%;
}

/* contenedor tarjeta */
.swiper-slide {
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* contenedor imagen de la tarjeta */
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
} 


/* funcionalidad cuando va cambiando la imagen */
.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
} 


