.home__cart{

background-color: #d8cbf7;
}

.home__cart img{
    width: 100%;
}

.home__cart h1{

text-align: center;

font-size: 27px;

padding-top: 25px;

font-weight: 500;

color: #e1b30d;
}

.home__cart h2{text-align: center;font-size: 18px;margin: 30px 0 15px;}

.home__cart h3{
    font-size: 12px;
}

.home__cart-product{
display: flex;
flex-direction: column;
margin: 15px 30px;
padding: 10px 18px;
background-color: #b596ff;
border-radius: 17px;
row-gap: 12px;
}

.home__cart-product .titles-container{

display: flex;

justify-content: space-between;
}

.home__cart-product .products-articles{

display: flex;

justify-content: space-between;

align-items: center;
}

.home__cart-product .products-descriptions{

display: flex;

align-items: center;

gap: 7px;
}

.home__cart-product .products-img{

width: 40px;

height: 40px;
}

.home__cart-product .products-img img{border-radius: 50%;}


.home__cart-product .products-txt{

font-size: 8px;
}

.home__cart-product .products-btn{
}

.home__cart-product .products-btn button{
    background: none;
    border: none;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 2px;
    width: 14px;
    height: 14px;
    font-size: 8px;
}

.home__cart-product .products-btn button.btn-trash{
    border: none;
    font-size: 10px;
}

.home__cart-product .products-price{

font-size: 11px;
}

.home__cart-product .products-totals{
    
display: flex;
    
justify-content: space-between;
    
padding-left: 50px;
}