:root{
    --grisOscuro:#757575;
    --grisClaro: #BDBDBD;
    --darkPrimaryColor:#512da8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }