.login__main{
   display: flex;
   position: relative;
   justify-content: center;             
   align-items: flex-start;
   font-family: 'Roboto', sans-serif;
}

.main__login__fondo img{
    width: 100%;
}

.main__formulario{
    border-radius: 10px;
    display: flex;
    background-color: #D1C4E9;
    position: absolute;
    width: 280px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__formulario h2{
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #512DA8;
    font-weight: bold;
    margin-bottom: ;
    background-color: ;
}

.main__formulario input{
    height: 30px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgba(255,255,255, 0.5);
  
}

.main__formulario i{
    color: #512DA8;
}
.main__formulario--email input{
    width: 200px;
}

.main__formulario--contraseña input{
    width: 200px;
}

.main__formulario--contraseña--input{
    margin-top: 5px;
    margin-left: 2px;
}

.formulario_button--entrar{
    background-color: #673ab7;
    color: rgba(256,256,256,0.9);
    border:0;
    border-radius: 15px;
    display: block;
    margin: 15px auto; 
    padding: 15px 45px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}

.main__formulario--recuerdame{
    margin-top: 5px;
    margin-bottom: 10px;
    color: #512DA8;
    
}

.main__formulario--recuerdame input{
    vertical-align: sub;
    margin: 0px;
}

.main__formulario--recuerdame label{
    
}

.main__formulario--links a{
    font-size: 14px;
    color: #673ab7;
}

.main__formulario--ingresar{
    font-size: 20px;
    color: #512da8;
}

.main__formulario--ingresar--iconos{
    font-size: 30px;
    text-align: center;
    color: #512DA8;
}

.main__formulario--ingresar--iconos i{
    margin: 10px 10px;
}


/*tablet*/
@media (min-width: 481px) {
    .login__main{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;   
        position: absolute;   
     } 

     .main__formulario{
        /* width: 50%; */
     }
       
}

/*Desktop*/
@media (min-width: 769px) {
    .main__formulario{
         width: 400px;
         height: 450px;  
         padding: 5px;
     }
    
     .main__formulario--email input{
        width: 320px;
    }
    
    .main__formulario--contraseña input{
        width: 320px;
    }

    .main__formulario h2{
                font-size: 40px;
       
    }

    .main__formulario--ingresar--iconos{
        font-size: 35px;
       
    }
}