*{
    font-family: 'Roboto', sans-serif;
}


.product {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.product__main{
    background-color: #d1c4e9;
    color: #212121;
    padding-bottom: 20px;
}
.product__main--go-back{
    padding: 20px;
}

.product__main--product{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product__main--image{
    justify-self: center;
}

.product__main h3{
    justify-self: center;
    font-size: 26px;
}

.product__main--quantity{
    align-self: flex-end;
    padding-right: 20px;
}

.product__main--price{
    align-self: flex-start;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #212121;
    color: #d1c4e9;
    text-align: center;
    border-radius: 40px;
}

.product__main--button{
    color: rgb(33, 33, 33);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 25px;
    background-image: linear-gradient(45deg, rgb(81, 45, 168) 0%, rgb(123, 68, 255) 20%, rgb(179, 198, 191) 100%);
    box-shadow: rgba(0, 0, 0, 0.58) 5px 5px 9px 3px;
    border: 2px solid rgb(81, 45, 168);
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 25%;
}

.product__recommended{
    background-color: #673AB7;
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__recommended--title{
    font-weight: lighter;
    font-size: 19px;
}

.product__recommended span{
    align-self: flex-end;
}
.product__recommended img{
    justify-self: center;
}

.product__related{
   width: 100%;
    background-color: #d1c4e9;
    color: #212121;
}

.product__related--title{
    font-weight: lighter;
}

.product__related--data {
    padding-bottom: 30px;
}


/* styles swiper  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


@media (min-width: 768px){


    .product__main{
        width: 47%;
    }
    .product__recommended{
        width: 47%;
    }
    .product__related{
        width: 100%;
    }
}

@media (min-width: 1024px){
  
}

