:root{
    --grisOscuro:#757575;
    --grisClaro: #BDBDBD;
    --darkPrimaryColor:#512da8;
    --primaryColor:#673AB7;
    --text: #ffffff;
    --lightPrimaryColor:#d1c4e9;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }