.home__prodetail{
    }
    
    .prodetail__collage{margin: 20px auto 0px;padding: 15px;display: flex;flex-direction: column-reverse;text-align: center;row-gap: 15px;}
    
    .prodetail__collage-images{width: 100%;display: flex;flex-wrap: nowrap;flex-direction: row;justify-content: space-around;}
    
    .prodetail__collage-images img{width: 30%;}
    
    .prodetail__collage-mainImage{

    }
    
    .prodetail__collage-mainImage img{

    }
    
    .prodetail__collage-mainImage h2{
    display: none;
    }

    .prodetail__description {padding: 15px;margin: 0 auto;}

    .prodetail__description h5 {
        font-weight: 900;
        font-size: 13px;
    }

    .prodetail__description h4{
        font-size: 18px;
        margin: 0;
        font-weight: 600;
    }

    .prodetail__description hr{
        
    }

    .prodetail__description p{
        font-size: 13px;
    }

    

/* TABLET */
@media (min-width: 481px) {
    .home__prodetail{width: 60%;margin: 40px auto;border: 1px solid gray;border-radius: 7px;}
    
    .prodetail__collage{padding: 15px 0;width: 60%;}
    
    .prodetail__collage-images{
}
    
    .prodetail__collage-images img{

    }
    
    .prodetail__collage-mainImage{}
    
    .prodetail__collage-mainImage img{
    margin-top: -30px;
}
    
    .prodetail__collage-mainImage h2{
        display: block;
      
    }

    .prodetail__description {

    }

    .prodetail__description h5 {
        
    }

    .prodetail__description h4{
        
    }

    .prodetail__description hr{
        
    }

    .prodetail__description p{
        
    }
}

/* DESKTOP */
@media (min-width:769px) {
.home__prodetail{
    display: flex;
    width: 70%;
    margin: 40px auto;
    border: none;
}  
    .prodetail__collage {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    border: 1px solid gray;
    padding: 10px;
    gap: 0;
    margin: 0 15px;
    justify-content: center;
}
    
    .prodetail__collage-images {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    
    .prodetail__collage-images img{width: 100%;}
    
    .prodetail__collage-mainImage {
    width: 90%;
    text-align: left;
    }
    
    .prodetail__collage-mainImage img {margin: 0;width: 100%;}
    
    .prodetail__collage-mainImage h2{
      text-align: center;
      margin-top: 10px;
    }

    .prodetail__description {width: 450px;padding: 20px;border: 1px solid gray;border-radius: 10px;margin: 0;}

    .prodetail__description h5 {
    }

    .prodetail__description h4 {
        margin: 40px 0px;
        font-size: 35px;
    }

    .prodetail__description hr{
        
    }

    .prodetail__description p{
        
    }
}

@media (min-width:769px) {
    .home__prodetail{
        width: 60%;
    }
}