/*style swiper carrusel*/
 .swiper {
  margin: 10px;

}

.swiper-slide {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
} 
/*style swiper carrusel*/
/*style swiper card*/
.swiper-container-card {
  width: 250px;
  height: 10%;
}
.swiper-container-card .swiper-wrapper{
 width: 100%;
 height: 100%;
}
.swiper-container-card .swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 22px;
  border-radius: 18px;
  background-color: white;
}
/*style swiper card*/


