<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { title: 'HOME' }) %>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="main__form">
        <h1>Crear Producto</h1>
        <form>
          <div class="main__form__body">
            <div class="main__form__input2">
              <label for="nombre">Nombre de Producto</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Ingrese Nombre del Producto"
                required
              />
            </div>
            
              <div class="main__form__input2">
                <label for="categoria">Categoría</label>
                <select>
                  <option value="Cervezas">Cervezas</option>
                  <option value="Vinos" selected>Vinos</option>
                  <option value="Combos">Combos</option>
                  <option value="Tragos">Tragos</option>
                </select>
              </div>
              <div class="main__form__input2">
                <label for="precio">Precio</label>
                <input
                  type="number"
                  id="precio"
                  name="precio"
                  placeholder="Ingrese un precio"
                />
              </div>
            
            
              <div class="main__form__input2">
                <label for="tamaño">Tamaño</label>
                <input
                  type="text"
                  id="tamaño"
                  name="tamaño"
                  placeholder="Ingrese un tamaño"
                />
              </div>
              <div class="main__form__input2">
                <label for="descripcion">Descripción</label>
                <textarea
                  name="descripcion"
                  id="descripcion"
                  cols="22"
                  rows="2"
                ></textarea>
              </div>
            
            <div class="main__form__input2">
              <label for="imagen">Imagen</label>
              <input type="file" id="imagen" name="imagen" />
            </div>
            <div class="main__form__links">
             
                <button type="submit">Cancelar</button>
              
             
                <button type="submit">Guardar</button>
             
            </div>
          </div>
        </form>
      </div>
    </main>
      <%- include('../partials/footer') %>
  </body>

</html>