<header class="home__header">
  <div class="home__header--burger-menu">
    <i class="fas fa-bars"></i>
  </div>
  <div class="home__header--logo">
    <a href="/"><img src="/images/logo.png" alt="Logo sip n ship" /></a>
  </div>

  <nav>
    <form action="/search" method="get" id="search" class="home__header--search">
      <input type="search" name="keywords"  placeholder="Buscar productos..." />
      <small id="msgError-search" class="text-validations"></small>
    </form>
    <ul class="home__header__nav--links">
      <li><a href="/search">Todos los productos</a></li>
      <li><a href="/">Cerveza</a></li>
      <li><a href="/">Vinos</a></li>
      <li><a href="/">Combos</a></li>
      <li><a href="/">Snacks</a></li>
      <li><a href="/">Promociones</a></li>
    </ul>
  </nav>

            <!-- COMPRABACION DE USUARIO LOGUEADO -->
  <% if (!locals.userData) { %>

      <!-- Si el usuario NO esta logueado. -->
    <div class="home__header__nav--menu"> 
      <a href="/user/login"><i class="fa-regular fa-user"></i></a>
      <a href=" /product/trolley"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
   
  <% } else { %>
    <!-- Si el usuario SI estalogueado -->  
 <li class="home__header__nav--menu  nav-item dropdown">
    <a id="btn-cart" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="position-relative">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" id="show-count-cart" hidden>
        0
       </span>
    </a>
    <a role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-gear "></i></a>
    <ul class="dropdown-menu">
      <li> <a href="#" class="dropdown-item">Hola! .. <%= userData.firstName %></a></li>
      <li><a class="dropdown-item" href="/user/profile/<%= userData.id %>">Mi perfil</a></li>  
      <li><a class="dropdown-item" href="/user/favorites">Mis Favoritos</a></li>  

      <% if (userData.rol === 1) { %>
          <li><a class="dropdown-item" href="/admin">Menu ADMIN</a></li>
      <% } %>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
    </ul>
 </li>
 <% } %>

</header>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: var(--backgroundColor);">
      <div class="modal-header">
        <h1 class="modal-title fs-5" style="color:white" id="exampleModalLabel">Mi carrito</h1>
      </div>
      <div class="modal-body"  id="cart-body">

      </div>
      <div class="modal-footer primary__button">
        <button type="button" style="flex-basis: 30%" onclick="emptyCart()" id="btn-empty-cart" hidden>Vaciar carrito</button>
        <button type="button" style="flex-basis: 30%" data-bs-dismiss="modal">Seguir comprando</button>
        <button onclick="window.location.href='/product/trolley'" id="btn-buy-cart" hidden type="button" style="flex-basis: 30%">Finalizar compra</button>
      </div>
    </div>
  </div>
</div>
