<header class="home__header">
  <div class="home__header--burger-menu">
    <i class="fas fa-bars"></i>
  </div>
  <div class="home__header--logo">
    <a href="/admin"><img src="/images/logo.png" alt="Logo sip n ship" /></a>
  </div>

  <nav>
    <form action="/search" method="get" class="home__header--search">
      <input type="search" name="keywords" id="buscador" placeholder="Buscar productos..." />
    </form>
    <ul class="home__header__nav--links">
      <li><a href="/">Cerveza</a></li>
      <li><a href="/">Vinos</a></li>
      <li><a href="/">Combos</a></li>
      <li><a href="/">Snacks</a></li>
      <li><a href="/">Promociones</a></li>
    </ul>
  </nav>
  <div class="home__header__nav--menu">
    <a href="/user/login"><i class="fa-regular fa-user"></i></a>
    <a href=" /product/trolley"><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
</header>
