.main__form__input-field{
    background-color: var(--text);
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
    height: 2em;
}
.main__form__input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 0px;
    
}
.main__form__input-field input::placeholder{
    color:var(--grisClaro) ;

}
.main__form__input-field i{
    margin: 0px 10px;
    color: var(--darkPrimaryColor);
}

/*tablet*/
@media (min-width: 481px) {
    .main__form__input-field{
        height: 3em;
    }
}